# Dependencies
node_modules/
public/node_modules/

# Environment variables (SENSITIVE - NEVER COMMIT!)
.env
.env.local
.env.production
public/.env
*.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build output
dist/
build/

# allow prettier files
!.prettierrc
!.prettierignore
